
/*ici on va declarer les couleurs que l'on utilisera par la suite cela permetra de maintenir le site plus facilement et de changer les couleurs*/
:root{

  --main-bg-color:#7510f7;

}

body {
  /*permet d'enlever la bordure inélégante*/
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/*logo en haut de page*/
.logo {
  width: 60px;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 20px 0;
}

.navbar div {
  display: flex;
  /*padding: 0px 50px;*/
}
/*  white-space: nowrap; permet d'avoir les mots composé qui ne se sépare pas en responsive*/
.navbar div div a {
  margin: 15px 15px;
  white-space: nowrap;
}
/*Say Hello button*/
.navbar div div.sayHello a {
  border: solid 2px var(--main-bg-color);
  border-radius: 25px;
  margin: 5px;
  color: #7510f7;
  padding: 10px;
}
.navbar div div {
  border: solid 2px #ffffff00;
  border-radius: 25px;
}

.title {
  padding-top: 30px;
  margin-bottom: 30px;
}

.navbar div div a:hover {
  color:var(--main-bg-color);
}


.navbar div div.sayHello a:hover {
  color: white;
  background-color:var(--main-bg-color);
}

header h1 {
  text-align: center;
  margin-top: 100px;
}

header p {
  text-align: center;
}

.avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatar > img {
  height: 200px;
  margin: 30px 0;
}

.avatar img:nth-child(2) {
  margin-bottom: 0;
}

.violet {
  background-color:var(--main-bg-color);
  color: white;
  text-align: center;
  padding: 150px 200px 350px 200px;
  line-height: 30px;
  
}

.violet p {
  
  font-size: 20px;
  width:min(1300px,90%);
  margin: 0 auto;
  
}

.violet h2 {
  font-size: 2rem;
}

.skillplus {
  margin: auto ;
  width:min(1300px,90%);
  display: flex;
  translate: 0 -200px;
  background-color: white;
  border-radius: 15px;

}

.skillplus img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 20%;
}

.skills {
  border: solid 0.5px rgba(133, 130, 130, 0.1);
  text-align: center;
 /* width:33%; ici il n'y a plus aucune utiliter a donner une largeur avec flexbox et de min() dans .skillplus*/
  line-height: 1.5;
 font-size: large;
}

.skills h4{
  color:var(--main-bg-color);
}

.title-3 {
  font-size: 2.5rem;
  text-align: center;

}
#para {
  font-size: larger;
  text-align: center;
}


.justDoIt{
  display: flex;
  margin: 0 100px;
}

.justDoIt img{
  margin: 0 ;
  height: 250px;
  max-height: 250px;
  border-radius: 15px;
 opacity: 1;
 position: absolute;


}

.justDoIt img:hover{
  opacity: 0;
  transition: .25s;
  scale: 1.05;
}

/*.justDoIt p{
  translate: 0 -150px;
}*/
.justDoIt div{
  
}
.wfdesign p{
  background-color: #141c3a;
  height: 250px;
  width: 375px;
  border-radius: 15px;
  translate: 0 -17px;
  z-index: -1 ;
  position: relative;
}

.whitehorse{
  background-color: #141c3a;
  height: 250px;
  max-height: 250px;
  border-radius: 15px;
}

/*essai des mediaquery */

/* ci dessous un code devenu inutile grace a l'utilisation de width: width:min(1300px,90%);
@media (max-width: 1500px)  {

  .skillplus {
    width: 90%;
  }
  .violet {
  padding:20% ;
    
  }
}*/ 

@media (max-width: 1100px)  {

  .skillplus {
    flex-direction: column;
    /*width: 100%;
     translate: 0 -100px;
  }
  
  .skills {
    width: 100%;
  }
}

@media (max-width: 600px)  {

  .skillplus {

    translate: none;
  }

}*/
  }